
  
body {
	max-width: 900px;
	background-color: #1b1e24;
	margin: 0 auto;
}

header {

    font-family: 'Inder';
    font-size: 22px;    
 }
h3 {
	font-size: 40px;
	color: white;
	text-align: center;
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    margin: 60px 0 ;
}

}

header {
	font-size: 50px;
	color: #30adff;
	padding-top: 40px;
	
	margin: 0 auto;
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

.module-border-wrap {
  max-width: 100%;
  max-height: 300px;
  padding: 1rem;
  position: center;
  background:linear-gradient(40deg, rgba(138,53,3,1) 0%, rgba(245,114,5,1) 46%, rgba(255,252,0,1) 100%);
  padding: 3px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}

main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}
p {
	font-family: 'Inder';font-size: 22px;
	font-size: 25px;
	color: #30adff;
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}

a {
	font-size: 25px;
	color: #f57205;
}

a:hover{ 
color:#30adff 
}


main img{
	max-width: 100%;
}

footer {


	background: radial-gradient(circle, rgba(138,53,3,1) 0%, rgba(245,114,5,1) 46%, rgba(255,252,0,1) 100%);
	font-family: 'Inder';font-size: 22px;
	font-size: 22px;
	color: #ece7e2;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;

}
footer a{

	color: #545352;
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;

}
.class-name{
	background: radial-gradient(circle, rgba(138,53,3,1) 0%, rgba(245,114,5,1) 46%, rgba(255,252,0,1) 100%);
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
   


}
.transparent{
	height: 50px;
	padding: 40px;
	font-size: 35px ;
	display: flex;
	justify-content: center;
	text-shadow: 0;
	color: #30adff;
}

h1{

	width: 860px;
	height: 500px;
	font-family: 'Inder';
	background: radial-gradient(circle, rgba(138,53,3,1) 0%, rgba(245,114,5,1) 46%, rgba(255,252,0,1) 100%);
	font-size: 50px;
	color: #30adff;	
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;

}

h2{
	color: #30adff;
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: 100;	
	background: radial-gradient(circle, rgba(138,53,3,1) 0%, rgba(245,114,5,1) 46%, rgba(255,252,0,1) 100%);
	font-size: 45px;
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

h5{
	max-width:120px ;
	background-color: orange;
	color: #30adff;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: 100;	
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 80px;
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;

}
h6{

	
	color: #edeae9;
	font-family: 'Trebuchet MS', sans-serif;
	font-weight: 100;	
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px ;
	text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

.blue{

	width: 830px;
	height: 420px;
	border: 5px solid black;
	margin-left: 10px;
	margin-top: 8px;
	background-color: #729fcf;
}



.homework{

	width: 860px;
	height: 500px;
	border: 2px solid rgba(245,114,5,1);
}
.list1{
	
	color: black;
    font-family: 'Liberation Sans', sans-serif;
    font-weight: 550;	
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	
    max-width: 830px;
    max-height: 410px;
	
}
.separator{

	height: 40px;
}
.blue2{

	width: 830px;
	height: 330px;
	border: 5px solid black;
	margin-left: 10px;
	margin-top: 70px;
	background-color: #729fcf;
}

.tabla2{
	margin-left: 75px;
	margin-top: 50px;
}
.audioc{
	margin-top: 40px;
}
