body {
	background-color: #1b1e24;
	margin: 0 auto;
}

header {

    font-family: 'Inder';font-size: 22px;    
    
   
}

h1, h2{
	font-family: 'Inder';font-size: 22px;
	font-size: 50px;
	color: #30adff;
	padding-top: 10px;
	padding-bottom: 40px;

}
h3 {
	font-size: 30px;
	color: white;
	padding-bottom: 30px;
}

header h1{
	font-size: 50px;
	color: #30adff;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
}

.module-border-wrap {
  max-width: 100%;
  max-height: 300px;
  padding: 1rem;
  position: center;
  background:linear-gradient(40deg, rgba(138,53,3,1) 0%, rgba(245,114,5,1) 46%, rgba(255,252,0,1) 100%);
  padding: 3px;
}
.module {
  background: #222;
  color: white;
  padding: 2rem;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
p {
	font-family: 'Inder';font-size: 22px;
	font-size: 25px;
	color: #30adff;
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center;
}

a {
	font-size: 25px;
	color: #f57205;
}

a:hover{ 
color:#30adff 
}


main img{
	max-width: 100%;
}

footer {


	background-color:#f57205 ;
	font-family: 'Inder';font-size: 22px;
	font-size: 22px;
	color: ghostwhite;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
footer a{

	color: black;
}